.experimental {
    color: red;
}
/*And now, we begin at the beginning*/
/*Home page page*/
.headerbuttonsholder {
    display: flex;
    justify-content: flex-end;
}
.headerbuttonsmodifier {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}
.headerbuttonsmodifier:hover {
    color: red;
}

.headertopthingoid {
    margin-top: 3vh;
    margin-bottom: 0px;
    margin-left: 12vw;
}



/*SCHEDULES WEBPAGE, WARNING, YOU ARE CROSSING WEBPAGES NOW*/


.theschedulegrid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /*grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));*/
    
    
    
    
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    /*grid-template-areas: "regular monday peprally special homeroom club";*/

}
.cardformatter1 {
    padding: 3vw;
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
    
}
.cardformatter2 {
    padding: 3vw;
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
}
.cardformatter3 {
    padding: 3vw;
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
}
.cardformatter4 {
    padding: 3vw;
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
}
.cardformatter5 {
    padding: 3vw;
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
}
.cardformatter6 {
    padding: 3vw;
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1000px) {
	.theschedulegrid {
        color: red;
        font-size: 30px;
    }
}
